* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@keyframes color {
    0% {
        background: #bebebe;
    }

    20% {
        background: #7e7f7e;
    }

    40% {
        background: #785d4f;
    }

    60% {
        background: #626262;
    }

    80% {
        background: #3d3d3d;
    }

    100% {
        background: #942727;
    }
}

body {
    font-size: 63.5%;
}

.containerAllBody {
    display: grid;
    grid-template-columns: 1fr repeat(2, 4fr) 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.firstSide {
    width: 100% !important;
    height: 100vh;
    background-color: rgba(252, 78, 78, 0.887);
}

.player1-side {
    width: 100%;
    height: 100vh;
    background-color: rgb(235, 194, 194);
}

.player2-side {
    width: 100%;
    height: 100vh;
    background-color: rgb(235, 194, 194);

    /* background-color: rgb(226, 164, 164); */
}

.currentplayer {
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, hsl(0deg 0% 30%) 41%, hsl(0deg 0% 73%) 82%, hsl(0deg 0% 98%) 100%);
    /* background-color: red; */
}

.lastSide {
    width: 100%;
    height: 100vh;
    background-color: rgba(86, 42, 86, 0.922)
}

.flexItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerName {
    /* var canvas = document.getElementById("myCanvas");
var ctx = canvas.getContext("2d");
ctx.font = "30px Arial";
ctx.strokeText("Hello World", 10, 50); */
    /* border: 1px solid black; */
    /* let canvas = document.getElementById("myCanvas");
     let ctx = canvas.getContext("2d");
    ctx.font = "30px Arial";
     ctx.strokeText("Hello World", 10, 50); */
    /* font-size: 3rem;
    font-weight: bold; */
}

.holdNumber {
    /* margin-top: 2rem; */
    font-size: 5rem;
    color: rgb(218, 87, 87);
}

.flexItem2 {
    /* margin: 10%; */
    /* gap: 1rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .playerNameSecondPlayer {
    font-size: 3rem;
    font-weight: bold;
} */

.holdNumberSecondPlayer {
    font-size: 5rem;
    color: rgb(218, 87, 87);
}

.current {
    color: #ffff;
    background-color: rgba(71, 19, 19, 0.764);
    margin: 0 auto;
    width: 8rem;
    border-radius: 0.8rem;
}

.flexCurrent {
    font-size: 0.7rem;
    text-align: center;
    margin-top: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5rem;
    gap: 1rem;

}

.currentNumber {
    font-size: 1.4rem;
}

.currentPlayerTwo {
    color: #ffff;
    background-color: rgba(71, 19, 19, 0.764);
    margin: 0 auto;
    width: 8rem;
    border-radius: 0.8rem;
}

.flexCurrent2 {
    font-size: 0.7rem;
    text-align: center;
    margin-top: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5rem;
    gap: 1rem;
}

.fiveElement {
    align-items: center;
    position: absolute;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 0px; */
    /* left: 252% */
}

.dicePicture1 {
    width: 5rem;
    height: 5rem;
    /* background: url(../assest/dice-3.png) no-repeat center center/cover; */
}

.dicePicture2 {
    width: 5rem;
    height: 5rem;
    /* background: url(../assest/dice-5.png) no-repeat center center/cover; */
}

.rolldice {
    border: none;
    width: 7rem;
    height: 1.5rem;
    border-radius: 1rem;
}

.hold {
    border: none;
    width: 5rem;
    border-radius: 1rem;
    height: 1.5rem;
}

.display {
    display: none;
}

.playerWinner {
    background: black;
    width: 100%;
    height: 100vh;
}
.playerWinner2 {
    background: black;
    width: 100%;
    height: 100vh;
}
.containerAllBody{
    position: relative;
}
.modal{
    /* background-color: red; */
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 90%;
    background: #2a2f2f;

    animation: color 9s infinite;

    /* background-color: rgb(173, 124, 124); */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.containerModal{
 position: absolute;
 /* width: 100px; */
}
.modal{
    visibility:hidden;
    /* display: block; */
}
.buttonInformation{
    /* margin: 2rem; */
    width: 20rem;
    position: absolute;
    top: 0;
    left: 0;
}
 .buttonInformation ul li {
    line-height: 2rem;
    font-size: 16px;
    font-family: Arial, sans-serif;
}
.winnerType{    
    text-align: center;
    width: 40%;
    color: red;
    font-weight: bold;
    font-size: 1.5rem;
    position: absolute;
   margin-top: 8%;

}
.winnerType2{    
    text-align: center;
    width: 40%;
    color: red;
    font-weight: bold;
    font-size: 1.5rem;
    position: absolute;
   margin-top: 8%;

}